extends ../../../layouts/wechat

block head
    title 通知列表

block body
    div.weui-tab
        div.weui-panel 
            div.weui-panel__hd 有效期内的通知
                each noti,i in data
                    a.weui-media-box.weui-media-box_appmsg(href="/account/noti/detail/#{noti._id}")
                        div.weui-media-box__bd
                            h4.weui-media-box__title #{noti.title}
                                if noti.isImportant
                                    span.weui-badge(style="margin-left: 5px;") 重要
                            p.weui-media-box__desc #{noti.general}
                            ul.weui-media-box__info
                                li.weui-media-box__info__meta #{noti.type}
                                li.weui-media-box__info__meta #{noti.creator}
                                li.weui-media-box__info__meta 截止：#{noti.timeFinished}
            weui-panel__hd 此处仅显示生效中的通知，查看所有通知，请到主页按类别查看
