extends ../../../layouts/admin

block head
  title 管理账户
  link(rel="stylesheet" type="text/css" href="/assets/dataTable/jquery.dataTables.css")


block body
  div.row
    div.col-xs-12
      div#header
      div#filters
      div#results-table
      div#results-paging

    div.page-header
      form.form-inline.pull-right(method='post', action='/admin/dingtalk/sync/')
        div.input-group
          button.btn.btn-success.btn-add(type='submit') 钉钉通讯录同步
      form.form-inline.pull-right(method='post', action='/admin/dingtalk/checkandsync/')
        div.input-group
          button.btn.btn-info.btn-add(type='submit') 差异化同步
      h1 账号 总#{data.length}人

    table.table.table-striped#table_persons
      thead
        tr
          th
          th 姓名
          th id
          th 部门
          th email
          th 激活
          th _id
      tbody#results-rows
        each person,i in data
            tr
                td #{i+1}
                td #{person.name}
                td #{person.username}
                td #{person.department_name}
                td #{person.email}
                td #{person.isActive}
                td #{person._id}

