extends ../../../layouts/admin

block head
  title 增加一个通知

block body
    div.row
        form(method='post', action='/admin/noti/add/',)
            div.col-sm-8
                div.page-header
                    h1 增加一个通知
                div.form-group
                    label 标题：（必填）
                    input.form-control(type='text', name='title' placeholder="标题" required="required")
                div.form-group
                    label 是否重要：
                        input(type='checkbox', name='isImportant')
                
                label 通知以下人员（必填）(需多于一人，否则无效)
                select(multiple="multiple" required="required" name="toPersons")
                    each userList in userLists
                        optgroup(label="#{userList.team}")
                            each user in userList.userList
                                option(value="#{user.username}/#{user.name}/#{userList.team}") #{user.name}
                       
                div.form-group
                    label 概述：（必填）
                    textarea.form-control(type='text', rows="5" placeholder="签阅内容的概述，字数最好不要超过300字" name='general' required="required")
                div.form-group
                    label 发布人：（必填）
                    input.form-control(type='text', name='creator' required="required")                    
                div.form-group
                    label 截至时间：（必填）
                    input.form-control(type='date', name='timeFinished' required="required") 
                div.form-group
                    label 正文：（必填）
                    textarea.form-control(type='text', rows="20" placeholder="正文" name='body' id="editor" required="required")
                div.form-group
                    label 文件上传
                    input(type="file" id="file1" name="myFile")
                    img(src="/media/timg.gif" style="display:none" id="imgWait") 
                    button.btn(type="button" id="upload") 上传文件
                div.form-group
                    input(type="text" id="files" name="Files")
                div.form-group
                    button.btn.btn-primary.btn-signup.btn-block(type='submit') 创建阅签
            div.col-sm-4
                div.page-header
                    h1 注意事项
                    p 正文中插入图片功能待完成；上传附件目前只能一个，稍后修改
    script(src='/assets/js/vendor/jquery.min.js')
    script(src='/assets/js/uploader.js')
    script(src='/assets/mutiselect/multiple-select.js')
    script(src='/assets/js/checkboxSelect.js')
    script(src='/ckeditor/ckeditor.js')
    script
        | CKEDITOR.replace('editor');