extends ../../../layouts/admin

block head
    title 管理通知列表

block body
    div.row
        div.col-sm-12
            div.page-header
                h1 管理通知列表
                table.table.table-hover
                    thead
                        tr
                            th #
                            th 类型
                            th(width="20%") 名称
                            th(width="40%")概述
                            th 截至日期
                            th 发布人
                            th 操作
                    tbody
                        each noti,i in data
                            tr
                                td #{i+1}
                                td #{noti.type}
                                td #{noti.title}
                                    if noti.isImportant
                                        span.label.label-danger 重要
                                td #{noti.general}
                                td #{noti.timeFinished}
                                td #{noti.creator}
                                td 
                                    form(method='post', action='/admin/noti/ding/#{noti._id}/')
                                        a.btn.btn-default(href="/admin/noti/detail/#{noti._id}") 查看
                                        button.btn.btn-success(type="button" data-toggle="modal" data-target="#dingModal#{noti._id}") 钉钉
                                        div.modal.fade(id="dingModal#{noti._id}" tabindex="-1" role="dialog" aria-labelledby="dingModalLabel")
                                            div.modal-dialog(role="document")
                                                div.modal-content
                                                    div.modal-header
                                                        button.close(type="button" class="close" data-dismiss="modal" aria-label="Close")
                                                            span(aria-hidden="true") &times;
                                                        h4.modal-title(id="dingModalLabel") 确认钉钉推送
                                                    p 通过钉钉发送通知，请不要重复发送，以免打扰用户
                                                    p #{noti.title}
                                                    div.modal-footer
                                                        div.form-group
                                                            button.btn.btn-success(type='submit') 钉钉推送
                                                            button.btn.btn-default(data-dismiss="modal") 关闭
                                    form(method='post', action='/admin/noti/delete/#{noti._id}/')
                                        a.btn.btn-warning(href="/admin/noti/edit/#{noti._id}") 编辑
                                        button.btn.btn-danger(type="button" data-toggle="modal" data-target="#deleteModal#{noti._id}") 删除
                                        div.modal.fade(id="deleteModal#{noti._id}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel")
                                            div.modal-dialog(role="document")
                                                div.modal-content
                                                    div.modal-header
                                                        button.close(type="button" class="close" data-dismiss="modal" aria-label="Close")
                                                            span(aria-hidden="true") &times;
                                                        h4.modal-title(id="myModalLabel") 确认删除
                                                    p #{noti.title}
                                                    div.modal-footer
                                                        div.form-group
                                                            button.btn.btn-danger(type='submit') 删除
                                                            button.btn.btn-default(data-dismiss="modal") 关闭