extends ../../../layouts/admin

block head
    title 通知列表

block body
    div.row
        div.col-sm-12
            div.page-header
                h1 阅签列表
                table.table.table-hover
                    thead
                        tr
                            th #
                            th 名称
                            th 截至日期
                            th 发布人
                            th 操作
                    tbody
                        each noti,i in data
                            tr
                                td #{i+1}
                                td #{noti.title}
                                    if noti.isImportant
                                        span.label.label-danger 重要
                                td #{noti.timeFinished}
                                td #{noti.creator}
                                td 
                                    form(method='post', action='/admin/noti/delete/#{noti._id}/')
                                        a.btn.btn-default(href="/admin/noti/detail/#{noti._id}") 查看 
                                        a.btn.btn-warning(href="/admin/noti/edit/#{noti._id}") 编辑
                                        button.btn.btn-danger(type='submit') 删除
                                    form(method='post', action='/admin/noti/ding/#{noti._id}/')
                                        a.btn.btn-default(href="/admin/noti/record/#{noti._id}") 记录查询
                                        button.btn.btn-success(type='submit') 钉钉通知