extends ../../../layouts/admin

block head
  title #{yue.title}

block body
  div.row
    div.col-sm-8
        div.page-header
            h1 #{yue.title}
        p 
            strong 发布人:  
            | #{yue.creator}
        p 
            strong 发布时间:  
            | #{yue.timeCreated}
        p 
            strong 截止日期:  
            | #{yue.timeFinished}
        p.lead 
            strong 概述:  
            | #{yue.general}
        p !{yue.body}
        p 
            strong 附件:  
        each file in yue.files
            p
                a(href="#{webLink}/uploads/#{file}") #{file} 
        p
            a.btn.btn-default.btn-block(href='/admin/yue/')
                i.fa.fa-arrow-circle-left
                |   返回所有通知列表
        h2 评论区：
        p （管理员在这里评论，用户端会置顶显示，可以用于领导批语，或者通知补充）
        p 
            each comment,i in yue.comments
                blockquote #{comment.cBody}
                    p.text-right #{comment.cName}
                        small #{comment.cTime}
        form(method='post', action='/admin/yue/detail/comment/#{yue._id}/')
            button.btn.btn-warning.btn-block(type="button" data-toggle="modal" data-target="#myModal") 添加备注
            div.modal.fade(id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel")
                div.modal-dialog(role="document")
                    div.modal-content
                        div.modal-header
                            button.close(type="button" class="close" data-dismiss="modal" aria-label="Close")
                                span(aria-hidden="true") &times;
                            h4.modal-title(id="myModalLabel") 添加备注
                        div.modal-body
                            div.form-group
                                label 添加备注：
                                textarea.form-control(type='text', rows="5" placeholder="添加相关备注" name='comment' required)
                        div.modal-footer
                            div.form-group
                                button.btn.btn-warning(type='submit') 评论
                                button.btn.btn-default(data-dismiss="modal") 关闭
        p 
            each comment,i in yue.commentsByReaders
                blockquote #{comment.cBody}
                    p.text-right #{comment.cName}
                        small #{comment.cTime}
        form(method='post', action='/admin/yue/detail/commentbyreaders/#{yue._id}/')
            button.btn.btn-success.btn-block(type="button" data-toggle="modal" data-target="#commentModal") 添加评论
            div.modal.fade(id="commentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel")
                div.modal-dialog(role="document")
                    div.modal-content
                        div.modal-header
                            button.close(type="button" class="close" data-dismiss="modal" aria-label="Close")
                                span(aria-hidden="true") &times;
                            h4.modal-title(id="myModalLabel") 添加评论
                        div.modal-body
                            div.form-group
                                label 添加评论：
                                textarea.form-control(type='text', rows="5" placeholder="添加你的评论" name='comment' required)
                        div.modal-footer
                            div.form-group
                                button.btn.btn-success(type='submit') 评论
                                button.btn.btn-default(data-dismiss="modal") 关闭
    div.col-sm-4
        div.page-header
            h2 通知以下人员：
        div
            each team in teams
                div.col-sm-12
                    h4 #{team}
                    p
                        each reader in yue.readers
                            if(team == reader.team)
                                span.col-sm-3 #{reader.name}
