extends ../../../layouts/wechat

block head
  title #{yue.title}

block body
    div.weui-tab
        h1.page__title #{yue.title}
        p.page__desc 发布人： #{yue.creator}
        p.page__desc 发布时间： #{yue.timeCreated}
        p.weui-cells__title 概述 #{yue.general}
        article.weui-article !{yue.body}
        p 附件： 
            each file in yue.files
                p.page__desc 
                    a(href="#{webLink}/uploads/#{file}") #{file} 
        div.weui-panel
            div.weui-panel__hd 阅签反馈 
            if need
                if gotit
                    div.weui-cell
                        button.weui-btn.weui-btn_default.weui-btn_plain-disabled(disabled) 已阅签
                else
                    form(method='post', action='/account/yue/detail/gotit/#{yue._id}/')
                        div.weui-cell
                            textarea.weui-textarea(name="gotit", rows="1" placeholder="添加你的反馈：我已阅" required) 已阅
                        div.weui-cell
                            button.weui-btn.weui-btn_warn(type='submit') 阅签
                    
            else
                p.page__desc 无须阅签
        div.weui-panel 
            div.weui-panel__hd 评论区
                each comment,i in yue.comments
                    a.weui-media-box.weui-media-box_appmsg
                        div.weui-media-box__bd
                            h4.weui-media-box__title #{comment.cBody}
                            ul.weui-media-box__info
                                li.weui-media-box__info__meta #{comment.cName}
                                li.weui-media-box__info__meta #{comment.cTime}
                each comment,i in yue.commentsByReaders
                    a.weui-media-box.weui-media-box_appmsg
                        if(comment.cAvatar)
                            img.weui-media-box__thumb(src="#{comment.cAvatar}" height="40px" style="width:40px;margin-right:5px;display:block")
                        else
                            img.weui-media-box__thumb(src="/media/none.png" height="40px" style="width:40px;margin-right:5px;display:block")
                        div.weui-media-box__bd
                            h4.weui-media-box__title #{comment.cBody}
                            ul.weui-media-box__info
                                li.weui-media-box__info__meta #{comment.cName}
                                li.weui-media-box__info__meta #{comment.cTime}

        div.weui-panel
            div.weui-panel__hd 添加评论
            form(method='post', action='/account/yue/detail/comment/#{yue._id}/')
                div.weui-cell
                    div.weui-cell__bd
                        textarea.weui-textarea(name="comment", id="words" rows="3"  onkeyup="pass()" placeholder="添加你的评论,大于5个字，阅签不要填在这里，这里是用来反馈疑问的" required)
                div.weui-cell
                        button.weui-btn.weui-btn_primary.weui-btn_disabled(type='submit' id="btn" disabled="true") 提交评论
        div.weui-panel 未完成人员
            each team in teams
                div.weui-panel__hd #{team}
                    div
                        each reader in yue.readers
                            if(team == reader.team)
                                if reader.isFinished==false
                                    a.weui-btn.weui-btn_mini.weui-btn_warn #{reader.name}
        div.weui-panel 已阅签人员
            each team in teams
                div.weui-panel__hd #{team}
                    div
                        each reader in yue.readers
                            if(team == reader.team)
                                if reader.isFinished
                                    a.weui-btn.weui-btn_mini.weui-btn_primary #{reader.name}
        div.weui-footer
            a.weui-footer__link(href="/account/") OA首页
            p.eui-footer__text Copyright © 2018 山东航空青岛维修基地
